<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="AutoClicker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
 <userSettings>
    <AutoClicker.Properties.Settings>
       <setting name="nbOfClicks" serializeAs="String">
          <value>0</value>
       </setting>
       <setting name="timeHours" serializeAs="String">
          <value>0</value>
       </setting>
       <setting name="timeMinutes" serializeAs="String">
          <value>0</value>
       </setting>
       <setting name="timeSeconds" serializeAs="String">
          <value>0</value>
       </setting>
       <setting name="timeMilliseconds" serializeAs="String">
          <value>0</value>
       </setting>
       <setting name="typeOfClick" serializeAs="String">
          <value>0</value>
       </setting>
       <setting name="addCtrl" serializeAs="String">
          <value>False</value>
       </setting>
       <setting name="addShift" serializeAs="String">
          <value>False</value>
       </setting>
       <setting name="addAlt" serializeAs="String">
          <value>False</value>
       </setting>
       <setting name="customPos" serializeAs="String">
          <value>False</value>
       </setting>
       <setting name="cpx" serializeAs="String">
          <value>0</value>
       </setting>
       <setting name="cpy" serializeAs="String">
          <value>0</value>
       </setting>
       <setting name="crosshairBack" serializeAs="String">
          <value>False</value>
       </setting>
       <setting name="randomPos" serializeAs="String">
          <value>False</value>
       </setting>
       <setting name="rX" serializeAs="String">
          <value>0</value>
       </setting>
       <setting name="rY" serializeAs="String">
          <value>0</value>
       </setting>
       <setting name="randomTime" serializeAs="String">
          <value>False</value>
       </setting>
       <setting name="rT" serializeAs="String">
          <value>0</value>
       </setting>
       <setting name="randomTimeType" serializeAs="String">
          <value>3</value>
       </setting>
       <setting name="mouseHotkey" serializeAs="String">
          <value>0</value>
       </setting>
       <setting name="mHKctrl" serializeAs="String">
          <value>False</value>
       </setting>
       <setting name="mHKalt" serializeAs="String">
          <value>False</value>
       </setting>
       <setting name="mHKshift" serializeAs="String">
          <value>False</value>
       </setting>
       <setting name="tabIndex" serializeAs="String">
          <value>0</value>
       </setting>
       <setting name="keyboardHotkey" serializeAs="String">
          <value>0</value>
       </setting>
       <setting name="kHKctrl" serializeAs="String">
          <value>False</value>
       </setting>
       <setting name="kHKalt" serializeAs="String">
          <value>False</value>
       </setting>
       <setting name="kHKshift" serializeAs="String">
          <value>False</value>
       </setting>
       <setting name="keyToPress" serializeAs="String">
          <value>0</value>
       </setting>
       <setting name="kCtrl" serializeAs="String">
          <value>False</value>
       </setting>
       <setting name="kAlt" serializeAs="String">
          <value>False</value>
       </setting>
       <setting name="kShift" serializeAs="String">
          <value>False</value>
       </setting>
       <setting name="kHours" serializeAs="String">
          <value />
       </setting>
       <setting name="kMinutes" serializeAs="String">
          <value />
       </setting>
       <setting name="kSeconds" serializeAs="String">
          <value />
       </setting>
       <setting name="kMilliseconds" serializeAs="String">
          <value />
       </setting>
       <setting name="kActiveText" serializeAs="String">
          <value>False</value>
       </setting>
       <setting name="kText" serializeAs="String">
          <value />
       </setting>
       <setting name="kSupressEnter" serializeAs="String">
          <value>False</value>
       </setting>
       <setting name="kSupressSpace" serializeAs="String">
          <value>False</value>
       </setting>
       <setting name="kIsFile" serializeAs="String">
          <value>False</value>
       </setting>
       <setting name="kFileLink" serializeAs="String">
          <value />
       </setting>
       <setting name="kRTime" serializeAs="String">
          <value>False</value>
       </setting>
       <setting name="kRT" serializeAs="String">
          <value />
       </setting>
       <setting name="kRTimeType" serializeAs="String">
          <value>0</value>
       </setting>
       <setting name="kCount" serializeAs="String">
          <value />
       </setting>
       <setting name="macroHotkey" serializeAs="String">
          <value>0</value>
       </setting>
       <setting name="aHKctrl" serializeAs="String">
          <value>False</value>
       </setting>
       <setting name="aHKalt" serializeAs="String">
          <value>False</value>
       </setting>
       <setting name="aHKshift" serializeAs="String">
          <value>False</value>
       </setting>
       <setting name="aFile" serializeAs="String">
          <value />
       </setting>
       <setting name="aRepeatCount" serializeAs="String">
          <value />
       </setting>
       <setting name="macroFilepath" serializeAs="String">
          <value />
       </setting>
       <setting name="mHKClear" serializeAs="String">
          <value>False</value>
       </setting>
       <setting name="kHKClear" serializeAs="String">
          <value>False</value>
       </setting>
       <setting name="aHKClear" serializeAs="String">
          <value>False</value>
       </setting>
       <setting name="hideToTrayWhenRunning" serializeAs="String">
          <value>False</value>
       </setting>
       <setting name="skipAdminPowers" serializeAs="String">
          <value>False</value>
       </setting>
       <setting name="askAdminPowers" serializeAs="String">
          <value>False</value>
       </setting>
       <setting name="newMacroOnOpen" serializeAs="String">
          <value>False</value>
       </setting>
       <setting name="autoSaveMacro" serializeAs="String">
          <value>False</value>
       </setting>
       <setting name="alwaysIgnore" serializeAs="String">
          <value>False</value>
       </setting>
       <setting name="alwaysSave" serializeAs="String">
          <value>False</value>
       </setting>
       <setting name="autoCreateAction" serializeAs="String">
          <value>False</value>
       </setting>
    </AutoClicker.Properties.Settings>
  </userSettings>
  
</configuration>